:root {
    --primaryColor: #a759d1;
    --secondaryColor: #3498DB;
}

/* Account Page */
#wrapper #bannerMob {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    width: 100%;
    height: 40vh;
    background: url('../images/placeholder-background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}

#wrapper #bannerMob #overlay {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 40vh;
    background: rgba(0, 0, 0, 0.2);
}

#wrapper #bannerMob #overlay #profileHeader {
    padding: 3rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

#wrapper #bannerMob #overlay #profileHeader input[type="file"] {
    display: none;
}

#wrapper #profileSummaryMob {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background: white;
    padding: 0 5rem 5rem;
    margin-top: -5vh;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 5;
}

#wrapper #profileSummaryMob #saveChanges {
    display: flex;
    position: absolute;
    top: 3rem;
    right: 5rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    min-width: 12rem;
    height: 3.8rem;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--primaryColor);
    border: solid var(--primaryColor) 2px;
    border-radius: 500px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #profileSummaryMob #saveChanges:hover {
    border: 2px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
}

#wrapper #profileSummaryMob #profileDesc {
    width: 100%;
    text-align: center;
    align-self: center;
    position: absolute;
    top: 20vh;
}

#wrapper #profileSummaryMob #profileDesc #profileImageSec {
    display: block;
    width: 100%;
    padding: 0 35%;
}

#wrapper #profileSummaryMob #profileDesc #profileImageSec #profileImgContainer {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: row;
}

#wrapper #profileSummaryMob #profileDesc #profileImageSec #profileImgContainer input[type="file"] {
    display: none;
}

#wrapper #profileSummaryMob #profileDesc #profileImageSec #profileImgContainer #profileImage {
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border: 10px solid white;
    border-radius: 500px;
    -webkit-transition: all ease-in-out 0.8s;
    -moz-transition: all ease-in-out 0.8s;
    -ms-transition: all ease-in-out 0.8s;
    -o-transition: all ease-in-out 0.8s;
    transition: all ease-in-out 0.8s;
}

#wrapper #profileDetailsMob {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    padding: 5rem;
    width: 100%;
}

#wrapper #profileDetailsMob #profileForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#wrapper #profileDetailsMob #profileForm .form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
}

#wrapper #profileDetailsMob #profileForm .form-row .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#wrapper #profileDetailsMob #profileForm .form-row .form-group label {
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

#wrapper #profileDetailsMob #profileForm .form-row .form-group input {
    font-family: 'Nunito', sans-serif;
    color: black;
    opacity: 1;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    font-weight: 500;
    border: 1px solid black;
    outline: none;
    border-radius: 50px;
}

#wrapper #profileDetailsMob #profileForm .form-row .input-group {
    display: flex;
    flex-direction: row;
}

#wrapper #profileDetailsMob #profileForm .form-row .input-group input {
    font-family: 'Nunito', sans-serif;
    color: black;
    opacity: 1;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    font-weight: 500;
    border: 1px solid black;
    outline: none;
    border-radius: 50px;
    width: 100%;
    margin-right: -3rem;
}

#wrapper #profileDetailsMob #profileForm .form-row .input-group-addon {
    align-self: center;
    margin-right: 1.5rem;
}

#usernameErrorMessage,
#emailErrorMessage,
#phoneErrorMessage,
#validationErrorMessage {
    display: none;
    font-family: 'Nunito', sans-serif;
    color: red;
    font-size: 1rem;
    padding-top: 1rem;
    text-align: center;
    width: 100%;
}

#profileSuccessModal {
    display: none;
    flex-flow: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    align-items: center;
    -webkit-animation-name: animateModal;
    -moz-animation-name: animateModal;
    -ms-animation-name: animateModal;
    -o-animation-name: animateModal;
    animation-name: animateModal;
    -webkit-animation-duration: 1s ease-in-out;
    -moz-animation-duration: 1s ease-in-out;
    -ms-animation-duration: 1s ease-in-out;
    -o-animation-duration: 1s ease-in-out;
    animation-duration: 1s;
    z-index: 99999;
}

#profileSuccessModal #profileSuccessContainer {
    width: 7rem;
    height: 8rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

#profileSuccessModal #profileSuccessContainer #profileSuccessBg {
    width: 100%;
    height: calc(100% - 1.25rem);
    background: linear-gradient(to bottom right, #5de593, #41d67c);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
        0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    transform: scale(0.8);
    border-radius: 50%;
    animation: animateContainer 0.75s ease-out forwards 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

#profileSuccessModal #profileSuccessContainer #profileSuccessBg svg {
    width: 50%;
    transform: translateY(0.25rem);
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: animateCheck 0.35s forwards 1.25s ease-out;
}

@-webkit-keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-moz-keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-ms-keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-o-keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-webkit-keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@-moz-keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@-ms-keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@-o-keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@-webkit-keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-moz-keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-ms-keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-o-keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

#wrapper #profileDetailsMob #profileForm .form-row.therapistOptions {
    display: none;
}