:root {
    --primaryColor: #a759d1;
    --secondaryColor: #3498DB;
}

/* Login Page */
#wrapper #loginContainer {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    padding: 5rem 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 90vh;
}

#wrapper #loginContainer .col-6 {
    width: 50%;
}

#wrapper #loginContainer .col-6 img {
    width: 80%;
}

#wrapper #loginContainer .col-6 #loginSec {
    width: 100%;
}

#wrapper #loginContainer .col-6 #loginSec h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    color: black;
    margin-top: 0rem;
    margin-bottom: 3rem;
    margin-right: 0;
    margin-left: 0;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer {
    width: 100%;
    background-color: white;
    padding: 4rem 4rem 2.5rem 4rem;
    box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm .form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm .form-row .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm .form-row .form-group label {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm .form-row .form-group input {
    font-family: 'Nunito', sans-serif;
    color: black;
    opacity: 1;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    font-weight: 500;
    border: 1px solid black;
    outline: none;
    border-radius: 50px;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm .form-row .input-group {
    display: flex;
    flex-direction: row;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm .form-row .input-group input {
    font-family: 'Nunito', sans-serif;
    color: black;
    opacity: 1;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    font-weight: 500;
    border: 1px solid black;
    outline: none;
    border-radius: 50px;
    width: 100%;
    margin-right: -3rem;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm .form-row .input-group .input-group-addon {
    align-self: center;
    margin-right: 1.5rem;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm #loginBtn {
    font-family: 'Nunito', sans-serif;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 18px;
    width: 100%;
    color: white;
    background-color: var(--primaryColor);
    border: solid var(--primaryColor) 2px;
    border-radius: 500px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm #loginBtn:hover {
    border: 2px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm #signupDesc {
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1.5rem;
    text-align: center;
    width: 100%;
    margin: 0;
    color: black;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm #signupDesc a {
    font-weight: 700;
    color: black;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm #signupDesc a:hover {
    color: var(--primaryColor);
}

#wrapper #loginContainer .col-6 #loginSec #formContainer #loginForm #loginErrorMessage {
    display: none;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1.5rem;
    margin: 0;
    color: red;
    width: 100%;
    text-align: center;
}

#loginSuccessModal {
    display: none;
    flex-flow: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    align-items: center;
    -webkit-animation-name: animateModal;
    -moz-animation-name: animateModal;
    -ms-animation-name: animateModal;
    -o-animation-name: animateModal;
    animation-name: animateModal;
    -webkit-animation-duration: 1s ease-in-out;
    -moz-animation-duration: 1s ease-in-out;
    -ms-animation-duration: 1s ease-in-out;
    -o-animation-duration: 1s ease-in-out;
    animation-duration: 1s;
    z-index: 99999;
}

#loginSuccessModal #loginSuccessContainer {
    width: 7rem;
    height: 8rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

#loginSuccessModal #loginSuccessContainer #loginSuccessBg {
    width: 100%;
    height: calc(100% - 1.25rem);
    background: linear-gradient(to bottom right, #5de593, #41d67c);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
        0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    transform: scale(0.8);
    border-radius: 50%;
    animation: animateContainer 0.75s ease-out forwards 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

#loginSuccessModal #loginSuccessContainer #loginSuccessBg svg {
    width: 50%;
    transform: translateY(0.25rem);
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: animateCheck 0.35s forwards 1.25s ease-out;
}

@-webkit-keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-moz-keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-ms-keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-o-keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-webkit-keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@-moz-keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@-ms-keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@-o-keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@-webkit-keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-moz-keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-ms-keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-o-keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}