:root {
    --primaryColor: #a759d1;
    --secondaryColor: #3498DB;
}

/* My Patients Page */
#wrapper #myPatientsHeroContainer {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    width: 100%;
    height: 40vh;
    background: url('../images/orderhistory.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#wrapper #myPatientsHeroContainer #overlay {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 40vh;
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#wrapper #myPatientsHeroContainer #overlay #myPatientsHero {
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#wrapper #myPatientsHeroContainer #overlay #myPatientsHero h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
}

#wrapper #noPatientsAvailable {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    padding: 10rem 7rem 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#wrapper #noPatientsAvailable #noPatientsMessage {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    color: black;
}

#wrapper #patientToolbar {
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10rem 7rem 5rem;
    align-items: center;
}

#wrapper #patientToolbar p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: black;
    width: 20%;
}

#wrapper #orderToolbar p #boldResults {
    font-weight: 700;
}

#wrapper #patientToolbar #searchForm {
    width: 80%;
    margin-left: 1.5rem;
}

#wrapper #patientToolbar #searchForm #searchbar {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    padding: 1.5rem 3rem;
    border: none;
    outline: none;
    border-radius: 500px;
    box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.1);
}

#wrapper #patientTableContainer {
    grid-column: 1 / span 4;
    grid-row: 5 / span 1;
    display: none;
    width: 100%;
    padding: 0 7rem 5rem;
    border-collapse: collapse;
}

#wrapper #patientTableContainer #patientTable {
    width: 100%;
    border-spacing: 0 1.3rem;
}

#wrapper #patientTableContainer #patientTable thead #tableHeader {
    background-color: transparent;
}

#wrapper #patientTableContainer #patientTable thead #tableHeader th {
    padding: 0 1rem 1rem 1rem;
}

#wrapper #patientTableContainer #patientTable thead #tableHeader .tHead {
    cursor: pointer;
}

#wrapper #patientTableContainer #patientTable thead #tableHeader th i {
    padding-left: 1rem;
}

#wrapper #patientTableContainer #patientTable thead th,
#wrapper #patientTableContainer #patientTable tbody td {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

#wrapper #patientTableContainer #patientTable tbody td {
    padding: 1.5rem 1rem;
}

#wrapper #patientTableContainer #patientTable tbody .tableRows {
    background: white;
    box-shadow: 0px 0px 16px -7px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

#wrapper #patientTableContainer #patientTable tbody .tableRows td.activeStatus {
    color: var(--primaryColor);
}

#wrapper #patientTableContainer #patientTable tbody .tableRows td.expiredStatus {
    color: #DD1A00;
}

#wrapper #patientTableContainer #patientTable tbody .tableRows td:nth-child(7) {
    width: 12%;
}

#wrapper #patientTableContainer #patientTable tbody .tableRows td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 2rem;
}

#wrapper #patientTableContainer #patientTable tbody .tableRows td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 2rem;
    width: 13%;
}