:root {
    --primaryColor: #a759d1;
    --secondaryColor: #3498DB;
}

/* Signup Page */
#wrapper #signUp {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper #signUp h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-top: 0rem;
    margin-bottom: 3rem;
    margin-right: 0;
    margin-left: 0;
}

#wrapper #signUp #formContainer {
    width: 70%;
    background-color: white;
    padding: 4rem 5rem 2.5rem 5rem;
    box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

#wrapper #signUp #formContainer #signupForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#wrapper #signUp #formContainer #signupForm .form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

#wrapper #signUp #formContainer #signupForm .form-row.col-6 {
    width: 48%;
}

#wrapper #signUp #formContainer #signupForm .form-row.therapistOptions {
    display: none;
}

#wrapper #signUp #formContainer #signupForm .form-row .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#wrapper #signUp #formContainer #signupForm .form-row .form-group label {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

#wrapper #signUp #formContainer #signupForm .form-row .form-group input {
    font-family: 'Nunito', sans-serif;
    color: black;
    opacity: 1;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    font-weight: 500;
    border: 1px solid black;
    outline: none;
    border-radius: 50px;
}

#wrapper #signUp #formContainer #signupForm .form-row .form-group select {
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 2rem) center !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    font-family: 'Nunito', sans-serif;
    color: black;
    opacity: 1;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    font-weight: 500;
    border: 1px solid black;
    outline: none;
    border-radius: 50px;
    transition: all ease-in-out 0.3s;
}

#wrapper #signUp #formContainer #signupForm .form-row .form-group select option {
    font-size: 0.9rem;
    font-weight: 500;
}

#wrapper #signUp #formContainer #signupForm .form-row .form-group select::selection {
    border-radius: 0px;
}

#wrapper #signUp #formContainer #signupForm .form-row .form-group select option[value="patient"],
#wrapper #signUp #formContainer #signupForm .form-row .form-group select option[value="therapist"] {
    font-size: 0.9rem;
    font-weight: 500;
}

#wrapper #signUp #formContainer #signupForm .form-row .input-group {
    display: flex;
    flex-direction: row;
}

#wrapper #signUp #formContainer #signupForm .form-row .input-group input {
    font-family: 'Nunito', sans-serif;
    color: black;
    opacity: 1;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    font-weight: 500;
    border: 1px solid black;
    outline: none;
    border-radius: 50px;
    width: 100%;
    margin-right: -3rem;
}

#wrapper #signUp #formContainer #signupForm .form-row .input-group .input-group-addon {
    align-self: center;
    margin-right: 1.5rem;
}

#wrapper #signUp #formContainer #signupForm #signupBtn {
    font-family: 'Nunito', sans-serif;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 18px;
    width: 100%;
    color: white;
    background-color: var(--primaryColor);
    border: solid var(--primaryColor) 2px;
    border-radius: 500px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #signUp #formContainer #signupForm #signupBtn:hover {
    border: 2px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
}

#wrapper #signUp #formContainer #signupForm #loginDesc {
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1.5rem;
    text-align: center;
    width: 100%;
    margin: 0;
    color: black;
}

#wrapper #signUp #formContainer #signupForm #loginDesc a {
    font-weight: 700;
    color: black;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#wrapper #signUp #formContainer #signupForm #loginDesc a:hover {
    color: var(--primaryColor);
}

#wrapper #signUp #formContainer #signupForm #signUpErrorMessage {
    display: none;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1.5rem;
    margin: 0;
    color: red;
    width: 100%;
    text-align: center;
}

#signupSuccessModal {
    display: none;
    flex-flow: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    align-items: center;
    -webkit-animation-name: animateModal;
    -moz-animation-name: animateModal;
    -ms-animation-name: animateModal;
    -o-animation-name: animateModal;
    animation-name: animateModal;
    -webkit-animation-duration: 1s ease-in-out;
    -moz-animation-duration: 1s ease-in-out;
    -ms-animation-duration: 1s ease-in-out;
    -o-animation-duration: 1s ease-in-out;
    animation-duration: 1s;
    z-index: 99999;
}

#signupSuccessModal #signupSuccessContainer {
    width: 7rem;
    height: 8rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

#signupSuccessModal #signupSuccessContainer #signupSuccessBg {
    width: 100%;
    height: calc(100% - 1.25rem);
    background: linear-gradient(to bottom right, #5de593, #41d67c);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
        0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    transform: scale(0.8);
    border-radius: 50%;
    -webkit-animation: animateContainer 0.75s ease-out forwards 0.75s;
    -moz-animation: animateContainer 0.75s ease-out forwards 0.75s;
    -ms-animation: animateContainer 0.75s ease-out forwards 0.75s;
    -o-animation: animateContainer 0.75s ease-out forwards 0.75s;
    animation: animateContainer 0.75s ease-out forwards 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

#signupSuccessModal #signupSuccessContainer #signupSuccessBg svg {
    width: 50%;
    transform: translateY(0.25rem);
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    -webkit-animation: animateCheck 0.35s forwards 1.25s ease-out;
    -moz-animation: animateCheck 0.35s forwards 1.25s ease-out;
    -ms-animation: animateCheck 0.35s forwards 1.25s ease-out;
    -o-animation: animateCheck 0.35s forwards 1.25s ease-out;
    animation: animateCheck 0.35s forwards 1.25s ease-out;
}

@-webkit-keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-moz-keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-ms-keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-o-keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@keyframes animateModal {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
        -moz-backdrop-filter: blur(0);
        -ms-backdrop-filter: blur(0);
        -o-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-webkit-keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@-moz-keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@-ms-keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@-o-keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@-webkit-keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-moz-keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-ms-keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-o-keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

#wrapper #batmanEasterEgg {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    width: 100%;
    height: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}

#wrapper #batmanEasterEgg #batmanContainer {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

#wrapper #batmanEasterEgg #batmanContainer #batmanImg {
    width: 70%;
    margin-bottom: -200vh;
}

#wrapper #batmanEasterEgg #batmanContainer #batmanImg.startAnimation {
    -webkit-animation: easterEggAnimate 12s forwards 1 ease-in-out;
    -moz-animation: easterEggAnimate 12s forwards 1 ease-in-out;
    -ms-animation: easterEggAnimate 12s forwards 1 ease-in-out;
    -o-animation: easterEggAnimate 12s forwards 1 ease-in-out;
    animation: easterEggAnimate 12s forwards 1 ease-in-out;
}

@-webkit-keyframes easterEggAnimate {
    0% {
        margin-bottom: -200vh;
    }

    25% {
        margin-bottom: 0vh;
    }

    75% {
        margin-bottom: 0vh;
    }

    100% {
        margin-bottom: -200vh;
    }
}

@-moz-keyframes easterEggAnimate {
    0% {
        margin-bottom: -200vh;
    }

    25% {
        margin-bottom: 0vh;
    }

    75% {
        margin-bottom: 0vh;
    }

    100% {
        margin-bottom: -200vh;
    }
}

@-ms-keyframes easterEggAnimate {
    0% {
        margin-bottom: -200vh;
    }

    25% {
        margin-bottom: 0vh;
    }

    75% {
        margin-bottom: 0vh;
    }

    100% {
        margin-bottom: -200vh;
    }
}

@-o-keyframes easterEggAnimate {
    0% {
        margin-bottom: -200vh;
    }

    25% {
        margin-bottom: 0vh;
    }

    75% {
        margin-bottom: 0vh;
    }

    100% {
        margin-bottom: -200vh;
    }
}

@keyframes easterEggAnimate {
    0% {
        margin-bottom: -200vh;
    }

    25% {
        margin-bottom: 0vh;
    }

    75% {
        margin-bottom: 0vh;
    }

    100% {
        margin-bottom: -200vh;
    }
}